.App {
  text-align: center;
  background-color: black;
  display: flex;
}
.button{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px 24px;
gap: 10px;

position: absolute;
width: 428px;
height: 40px;
left: calc(50% - 428px/2);
top: calc(50% - 40px/2 + 245px);

background: #0EBBF7;
border-radius: 100px;
}
.welcome{
position: absolute;
width: 199px;
height: 36px;
left: calc(50% - 199px/2 - 9.5px);
top: calc(50% - 36px/2 - 18px);

font-family: 'Product Sans';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;

color: #464646;
}